# 숙제1: ETL함수 작성
Extract, Transform(Data format 변환), Load(redshift 테이블에 푸쉬) 

1. INSERT INTO SQL 완성하기
2. 기존 테이블의 내용을 지우고 새로 업데이트 하는 방식 Full-Refresh라면 어떻게 하는게 좋을지 (트랜잭션을 생각, Full-Refresh형태로 동작하게 load 함수 변경 필요)

In [ ]:
import requests
def extract(url):
  f = requests.get(url)
  return (f.text)

In [ ]:

import csv
def transform(date):
  reader = csv.reader(data.strip().split("\n"))
  return reader

In [ ]:
import psycopg2

# Redshift connection 함수
def get_Redshift_connection():
    host = "learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com"
    redshift_user = "ID"
    redshift_pass = "PW"
    port = 5439
    dbname = "dev"
    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
        dbname=dbname,
        user=redshift_user,
        password=redshift_pass,
        host=host,
        port=port
    ))
    conn.set_session(autocommit=True)
    return conn.cursor()

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
def load(csv_reader):
    cur = get_Redshift_connection()
 
    for name, gender in csv_reader:
        print(name, gender)
        sql = "INSERT INTO raw_data.name_gender VALUES (name, gender)" 
    cur.execute(sql)

Full-Refresh 형태로 만들기

In [ ]:
# 내답안

def load(csv_reader):
    cur = get_Redshift_connection()
    sql = """DROP TABLE IF EXISTS raw_data.name_gender \
        CREATE TABLE raw_data.name_gender;"""
    #TRUNCATE는 Transaction 안에서는 쓰면 안됨. Delete from 은 Rollback하지만 truncate은 못함.
    
  
    cur.execute(sql)
    for name, gender in csv_reader:
       
        sql = "INSERT INTO raw_data.name_gender VALUES ({name}, {gender})".format(name = name, gender = gender)
    cur.execute(sql)

In [ ]:
#Solution 1 - Begin / End
def load(csv_reader):
    cur = get_Redshift_connection() 
    # cur: autocommit = True - BEGIN;END
    sql = """BEGIN;CREATE TALBE IF NOT EXISTS raw_data.name_gender (
            name varchar(64),
            gender varchar(16)
            );
            DELETE FROM raw_data.name_gender;"""
    cur.execute(sql)   
    for name, gender in csv_reader:
        sql = """
            INSERT INTO raw_data.name_gender
            VALUES ({name}, {gender});
            """.format(name=name, gender=gender)
        cur.execute(sql)
    cur.execute("END")

In [ ]:
#Solution 2 - Try/catch
#cur : autocommit = True

def load(csv_reader):
    cur = get_Redshift_connection() 
    try:
      sql = """BEGIN;CREATE TALBE IF NOT EXISTS raw_data.name_gender (
              name varchar(64),
              gender varchar(16)
              );
              DELETE FROM raw_data.name_gender;"""
      cur.execute(sql)   
      for name, gender in csv_reader:
          sql = """
              INSERT INTO raw_data.name_gender
              VALUES ({name}, {gender});
              """.format(name=name, gender=gender)
          cur.execute(sql)
      cur.execute("END") # cur.execute("COMMIT")
    except Exception as e:
      cur.execute("ROLLBACK")    #error나면 지금까지 했던거 다 무시하고 begin전으로 돌아가라



#autocommit = False:
def load(csv_reader):
    cur = get_Redshift_connection() 
    try:
      sql = """CREATE TALBE IF NOT EXISTS raw_data.name_gender (
              name varchar(64),
              gender varchar(16)
              );
              DELETE FROM raw_data.name_gender;"""
      cur.execute(sql)   
      for name, gender in csv_reader:
          sql = """
              INSERT INTO raw_data.name_gender
              VALUES ({name}, {gender});
              """.format(name=name, gender=gender)
          cur.execute(sql)
      cur.execute("END") # cur.execute("COMMIT")
    except Exception as e:
      cur.execute("ROLLBACK")

#숙제 2: Open Weather Map API 
1. API Key를 받아서 서울의 위도 경도 찾을것
2. 서울의 정보 (날짜, 평균온도, 최소온도, 최대온도)만 앞으로 7일 대상으로 출력
https://api.openweathermap.org/data/2.5/onecall?lat={37.56}&lon{126.97}&appid={00a33e28fdb3098bec6c02b7c229ffe8}

## 1) 서울의 위도, 경도 찾기

In [ ]:
import requests, json
api_key = "00a33e28fdb3098bec6c02b7c229ffe8"
city_name = "Seoul"
lon = 0
lat = 0
base_url = "http://api.openweathermap.org/data/2.5/weather?"
complete_url = base_url + "appid=" + api_key + "&q=" + city_name
response = requests.get(complete_url)
x = response.json()

if x['cod'] != '404':
  y = x['main']
  lon = x['coord']['lon']
  lat = x['coord']['lat']
  print(f"longtitude: {lon} \n latitude: {lat}")
else: ("Seoul Not Found")

longtitude: 126.9778
 latitude: 37.5683

##2) 위도 경도 정보로 서울의 향후 7일 데이타 찾기

In [ ]:
api_key = "00a33e28fdb3098bec6c02b7c229ffe8"
#not work !! url = "https://api.openweathermap.org/data/2.5/onecall?lat={lat}&lon={lon}&appid={'00a33e28fdb3098bec6c02b7c229ffe8'}"
url ='https://api.openweathermap.org/data/2.5/onecall?lat={}&lon={}&exclude={}&units={}&appid={}'.format(37.57,126.98,'current,minutely,hourly','metric',"00a33e28fdb3098bec6c02b7c229ffe8")

response = requests.get(url)
data = response.json()
print(data)
print(data['daily'])

import pandas as pd
df = pd.json_normalize(data, record_path = ['daily'])
print(df)

{'lat': 37.57, 'lon': 126.98, 'timezone': 'Asia/Seoul', 'timezone_offset': 32400, 'daily': [{'dt': 1634958000, 'sunrise': 1634939250, 'sunset': 1634978705, 'moonrise': 1634984100, 'moonset': 1634947260, 'moon_phase': 0.58, 'temp': {'day': 12.08, 'min': 9.39, 'max': 17.31, 'night': 12.61, 'eve': 14.94, 'morn': 9.79}, 'feels_like': {'day': 10.83, 'night': 11, 'eve': 13.3, 'morn': 9.79}, 'pressure': 1029, 'humidity': 57, 'dew_point': 3.83, 'wind_speed': 3.4, 'wind_deg': 267, 'wind_gust': 3.35, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 0, 'pop': 0, 'uvi': 3.85}, {'dt': 1635044400, 'sunrise': 1635025709, 'sunset': 1635065030, 'moonrise': 1635072600, 'moonset': 1635037200, 'moon_phase': 0.61, 'temp': {'day': 15.87, 'min': 9.99, 'max': 16.98, 'night': 12.71, 'eve': 15.26, 'morn': 10.3}, 'feels_like': {'day': 14.48, 'night': 11.24, 'eve': 13.6, 'morn': 8.64}, 'pressure': 1028, 'humidity': 37, 'dew_point': 0.92, 'wind_speed': 2.65, 'wind_deg': 299, 'wind_gust': 3.39, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 0, 'pop': 0, 'uvi': 3.65}, {'dt': 1635130800, 'sunrise': 1635112170, 'sunset': 1635151356, 'moonrise': 1635161400, 'moonset': 1635127080, 'moon_phase': 0.64, 'temp': {'day': 15.93, 'min': 10.16, 'max': 17.42, 'night': 13.34, 'eve': 15.7, 'morn': 10.4}, 'feels_like': {'day': 14.57, 'night': 12.19, 'eve': 14.4, 'morn': 8.85}, 'pressure': 1024, 'humidity': 38, 'dew_point': 1.49, 'wind_speed': 2.97, 'wind_deg': 308, 'wind_gust': 3.7, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 0, 'pop': 0, 'uvi': 3.42}, {'dt': 1635217200, 'sunrise': 1635198630, 'sunset': 1635237683, 'moonrise': 1635250620, 'moonset': 1635216840, 'moon_phase': 0.67, 'temp': {'day': 16.74, 'min': 11.76, 'max': 18.15, 'night': 15.33, 'eve': 16.24, 'morn': 11.76}, 'feels_like': {'day': 15.8, 'night': 14.62, 'eve': 15.46, 'morn': 10.71}, 'pressure': 1021, 'humidity': 51, 'dew_point': 6.35, 'wind_speed': 2.71, 'wind_deg': 274, 'wind_gust': 3.01, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': 100, 'pop': 0, 'uvi': 3.17}, {'dt': 1635303600, 'sunrise': 1635285091, 'sunset': 1635324011, 'moonrise': 1635340140, 'moonset': 1635306300, 'moon_phase': 0.7, 'temp': {'day': 17.57, 'min': 12.81, 'max': 18.56, 'night': 13.98, 'eve': 16.74, 'morn': 12.81}, 'feels_like': {'day': 16.79, 'night': 12.56, 'eve': 15.7, 'morn': 12.39}, 'pressure': 1018, 'humidity': 54, 'dew_point': 7.99, 'wind_speed': 4.16, 'wind_deg': 289, 'wind_gust': 7.32, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': 2, 'pop': 0.63, 'rain': 2, 'uvi': 3.31}, {'dt': 1635390000, 'sunrise': 1635371553, 'sunset': 1635410340, 'moonrise': 1635430080, 'moonset': 1635395460, 'moon_phase': 0.73, 'temp': {'day': 16.33, 'min': 11.18, 'max': 17.79, 'night': 14.47, 'eve': 16.24, 'morn': 11.18}, 'feels_like': {'day': 14.67, 'night': 12.86, 'eve': 14.6, 'morn': 9.71}, 'pressure': 1023, 'humidity': 25, 'dew_point': -4.23, 'wind_speed': 2.62, 'wind_deg': 333, 'wind_gust': 7.78, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 0, 'pop': 0, 'uvi': 4}, {'dt': 1635476400, 'sunrise': 1635458014, 'sunset': 1635496671, 'moonrise': 0, 'moonset': 1635484260, 'moon_phase': 0.75, 'temp': {'day': 17.17, 'min': 11.06, 'max': 18.79, 'night': 15.06, 'eve': 17.12, 'morn': 11.06}, 'feels_like': {'day': 15.88, 'night': 13.87, 'eve': 15.83, 'morn': 9.53}, 'pressure': 1026, 'humidity': 36, 'dew_point': 1.67, 'wind_speed': 1.65, 'wind_deg': 288, 'wind_gust': 2.47, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 0, 'pop': 0, 'uvi': 4}, {'dt': 1635562800, 'sunrise': 1635544476, 'sunset': 1635583003, 'moonrise': 1635520200, 'moonset': 1635572760, 'moon_phase': 0.79, 'temp': {'day': 17.15, 'min': 12.08, 'max': 17.93, 'night': 16.07, 'eve': 17.21, 'morn': 12.08}, 'feels_like': {'day': 15.94, 'night': 14.83, 'eve': 15.93, 'morn': 10.83}, 'pressure': 1025, 'humidity': 39, 'dew_point': 2.9, 'wind_speed': 1.27, 'wind_deg': 316, 'wind_gust': 1.06, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': 87, 'pop': 0, 'uvi': 4}]}
[{'dt': 1634958000, 'sunrise': 1634939250, 'sunset': 1634978705, 'moonrise': 1634984100, 'moonset': 1634947260, 'moon_phase': 0.58, 'temp': {'day': 12.08, 'min': 9.39, 'max': 17.31, 'night': 12.61, 'eve': 14.94, 'morn': 9.79}, 'feels_like': {'day': 10.83, 'night': 11, 'eve': 13.3, 'morn': 9.79}, 'pressure': 1029, 'humidity': 57, 'dew_point': 3.83, 'wind_speed': 3.4, 'wind_deg': 267, 'wind_gust': 3.35, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 0, 'pop': 0, 'uvi': 3.85}, {'dt': 1635044400, 'sunrise': 1635025709, 'sunset': 1635065030, 'moonrise': 1635072600, 'moonset': 1635037200, 'moon_phase': 0.61, 'temp': {'day': 15.87, 'min': 9.99, 'max': 16.98, 'night': 12.71, 'eve': 15.26, 'morn': 10.3}, 'feels_like': {'day': 14.48, 'night': 11.24, 'eve': 13.6, 'morn': 8.64}, 'pressure': 1028, 'humidity': 37, 'dew_point': 0.92, 'wind_speed': 2.65, 'wind_deg': 299, 'wind_gust': 3.39, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 0, 'pop': 0, 'uvi': 3.65}, {'dt': 1635130800, 'sunrise': 1635112170, 'sunset': 1635151356, 'moonrise': 1635161400, 'moonset': 1635127080, 'moon_phase': 0.64, 'temp': {'day': 15.93, 'min': 10.16, 'max': 17.42, 'night': 13.34, 'eve': 15.7, 'morn': 10.4}, 'feels_like': {'day': 14.57, 'night': 12.19, 'eve': 14.4, 'morn': 8.85}, 'pressure': 1024, 'humidity': 38, 'dew_point': 1.49, 'wind_speed': 2.97, 'wind_deg': 308, 'wind_gust': 3.7, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 0, 'pop': 0, 'uvi': 3.42}, {'dt': 1635217200, 'sunrise': 1635198630, 'sunset': 1635237683, 'moonrise': 1635250620, 'moonset': 1635216840, 'moon_phase': 0.67, 'temp': {'day': 16.74, 'min': 11.76, 'max': 18.15, 'night': 15.33, 'eve': 16.24, 'morn': 11.76}, 'feels_like': {'day': 15.8, 'night': 14.62, 'eve': 15.46, 'morn': 10.71}, 'pressure': 1021, 'humidity': 51, 'dew_point': 6.35, 'wind_speed': 2.71, 'wind_deg': 274, 'wind_gust': 3.01, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': 100, 'pop': 0, 'uvi': 3.17}, {'dt': 1635303600, 'sunrise': 1635285091, 'sunset': 1635324011, 'moonrise': 1635340140, 'moonset': 1635306300, 'moon_phase': 0.7, 'temp': {'day': 17.57, 'min': 12.81, 'max': 18.56, 'night': 13.98, 'eve': 16.74, 'morn': 12.81}, 'feels_like': {'day': 16.79, 'night': 12.56, 'eve': 15.7, 'morn': 12.39}, 'pressure': 1018, 'humidity': 54, 'dew_point': 7.99, 'wind_speed': 4.16, 'wind_deg': 289, 'wind_gust': 7.32, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': 2, 'pop': 0.63, 'rain': 2, 'uvi': 3.31}, {'dt': 1635390000, 'sunrise': 1635371553, 'sunset': 1635410340, 'moonrise': 1635430080, 'moonset': 1635395460, 'moon_phase': 0.73, 'temp': {'day': 16.33, 'min': 11.18, 'max': 17.79, 'night': 14.47, 'eve': 16.24, 'morn': 11.18}, 'feels_like': {'day': 14.67, 'night': 12.86, 'eve': 14.6, 'morn': 9.71}, 'pressure': 1023, 'humidity': 25, 'dew_point': -4.23, 'wind_speed': 2.62, 'wind_deg': 333, 'wind_gust': 7.78, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 0, 'pop': 0, 'uvi': 4}, {'dt': 1635476400, 'sunrise': 1635458014, 'sunset': 1635496671, 'moonrise': 0, 'moonset': 1635484260, 'moon_phase': 0.75, 'temp': {'day': 17.17, 'min': 11.06, 'max': 18.79, 'night': 15.06, 'eve': 17.12, 'morn': 11.06}, 'feels_like': {'day': 15.88, 'night': 13.87, 'eve': 15.83, 'morn': 9.53}, 'pressure': 1026, 'humidity': 36, 'dew_point': 1.67, 'wind_speed': 1.65, 'wind_deg': 288, 'wind_gust': 2.47, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 0, 'pop': 0, 'uvi': 4}, {'dt': 1635562800, 'sunrise': 1635544476, 'sunset': 1635583003, 'moonrise': 1635520200, 'moonset': 1635572760, 'moon_phase': 0.79, 'temp': {'day': 17.15, 'min': 12.08, 'max': 17.93, 'night': 16.07, 'eve': 17.21, 'morn': 12.08}, 'feels_like': {'day': 15.94, 'night': 14.83, 'eve': 15.93, 'morn': 10.83}, 'pressure': 1025, 'humidity': 39, 'dew_point': 2.9, 'wind_speed': 1.27, 'wind_deg': 316, 'wind_gust': 1.06, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': 87, 'pop': 0, 'uvi': 4}]
           dt     sunrise      sunset  ...  feels_like.eve  feels_like.morn  rain
0  1634958000  1634939250  1634978705  ...           13.30             9.79   NaN
1  1635044400  1635025709  1635065030  ...           13.60             8.64   NaN
2  1635130800  1635112170  1635151356  ...           14.40             8.85   NaN
3  1635217200  1635198630  1635237683  ...           15.46            10.71   NaN
4  1635303600  1635285091  1635324011  ...           15.70            12.39   2.0
5  1635390000  1635371553  1635410340  ...           14.60             9.71   NaN
6  1635476400  1635458014  1635496671  ...           15.83             9.53   NaN
7  1635562800  1635544476  1635583003  ...           15.93            10.83   NaN

[8 rows x 27 columns]

In [ ]:
# epoch 을 datetime형태로 변환
from datetime import *
newdt=[]

for date in df['dt'] :
  newdt.append(datetime.fromtimestamp(date).strftime('%Y-%m-%d'))

df['dt'] = newdt


df.head()

           dt     sunrise      sunset  ...  feels_like.eve  feels_like.morn  rain
0  2021-10-23  1634939250  1634978705  ...           13.30             9.79   NaN
1  2021-10-24  1635025709  1635065030  ...           13.60             8.64   NaN
2  2021-10-25  1635112170  1635151356  ...           14.40             8.85   NaN
3  2021-10-26  1635198630  1635237683  ...           15.46            10.71   NaN
4  2021-10-27  1635285091  1635324011  ...           15.70            12.39   2.0

[5 rows x 27 columns]

### Dataframe에 날짜, 최소온도, 최대온도, 평균온도만

In [ ]:
colname = ['dt','temp.min', 'temp.max', 'temp.day']
df = df.drop(columns=[col for col in df if col not in colname])
# 평균온도가 min max의 평균일때 : df['AVG_Temp'] = df[['temp.min', 'temp.max']].mean(numeric_only=True, axis=1).round(2)
df = df.rename(columns={'dt': 'Date', 'temp.day':'AVG_Temp','temp.min': 'Min_Temp', 'temp.max': 'Max_Temp'})
df.head(10)

         Date  AVG_Temp  Min_Temp  Max_Temp
0  2021-10-23     12.08      9.39     17.31
1  2021-10-24     15.87      9.99     16.98
2  2021-10-25     15.93     10.16     17.42
3  2021-10-26     16.74     11.76     18.15
4  2021-10-27     17.57     12.81     18.56
5  2021-10-28     16.33     11.18     17.79
6  2021-10-29     17.17     11.06     18.79
7  2021-10-30     17.15     12.08     17.93

In [ ]:
# Solution:
daily = data["daily"]

from datetime import *

"""
 멱등성: 1번 실행하나 10번 연달아 실행하나 같은 레코드들을 갖고 있어야 한다
CREATE TABLE keeyong.seoul_temp (
    date DATE PRIMARY KEY,
    day float,
    min float,
    max float,
    created timestamp DEFAULT current_date()
);

ROW_NUMBER() OVER (PARTITION BY date ORDER BY created DESC) nn
"""

for entry in daily:
    dt = datetime.fromtimestamp(entry["dt"]).strftime('%Y-%m-%d') #날짜
    day = entry["temp"]["day"] #평균온도
    min = entry["temp"]["min"] #최소온도 
    max = entry["temp"]["max"] #최대온도
    print(f"{dt:11}{day:7}{min:7}{max:7}")

2021-10-23   12.08   9.39  17.31
2021-10-24   15.87   9.99  16.98
2021-10-25   15.93  10.16  17.42
2021-10-26   16.74  11.76  18.15
2021-10-27   17.57  12.81  18.56
2021-10-28   16.33  11.18  17.79
2021-10-29   17.17  11.06  18.79
2021-10-30   17.15  12.08  17.93