In [1]:
%load_ext sql

In [2]:
!pip install sqlalchemy==1.3.2

Collecting sqlalchemy==1.3.2
  Downloading SQLAlchemy-1.3.2.tar.gz (5.9 MB)
     |████████████████████████████████| 5.9 MB 4.5 MB/s
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.2-cp37-cp37m-linux_x86_64.whl size=1183042 sha256=efcd60e4c357894ee27758378f8befaf8ef955e2b4a996f5726bfca5cb823213
  Stored in directory: /root/.cache/pip/wheels/c9/ff/38/1e6ab6f45b59ebbbd1b09808a2dce3550c19fca94a8d7a5b1d
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.26
    Uninstalling SQLAlchemy-1.4.26:
      Successfully uninstalled SQLAlchemy-1.4.26
Successfully installed sqlalchemy-1.3.2

In [3]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://jieunshop200:Jieunshop200!1@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: jieunshop200@dev'

In [ ]:
%%sql
DROP TABLE IF EXISTS jieunshop200.nps;
CREATE TABLE jieunshop200.nps (
    id INT NOT NULL primary key,
    created_at timestamp,
    score smallint
);

 * postgresql://jieunshop200:***@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql
CREATE TABLE jieunshop200.weather_forecast (
    date date,
    temp float,
    min_temp float,
    max_temp float,
    updated_date timestamp default GETDATE()
);

 * postgresql://jieunshop200:***@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev
(psycopg2.ProgrammingError) Relation "weather_forecast" already exists

[SQL: CREATE TABLE jieunshop200.weather_forecast (
    date date,
    temp float,
    min_temp float,
    max_temp float,
    updated_date timestamp default GETDATE()
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql
SELECT * FROM jieunshop200.weather_forecast

 * postgresql://jieunshop200:***@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

In [ ]:
#5주차 nps table 수정
%%sql
DROP TABLE IF EXISTS jieunshop200.nps;
CREATE TABLE jieunshop200.nps (
    id INT NOT NULL primary key,
    created_at timestamp,
    updated_at timestamp default current_timestamp,
    deleted boolean,
    score smallint
);

 * postgresql://jieunshop200:***@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql
CREATE TABLE jieunshop200.nps_summary AS
SELECT LEFT(created_at, 7) AS month,
  ROUND(SUM(CASE
    WHEN score >= 9 THEN 1 
    WHEN score <= 6 THEN -1 END)::float*100/COUNT(1), 2)
FROM raw_data.nps
GROUP BY 1
ORDER BY 1;

 * postgresql://jieunshop200:***@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql
SELECT * FROM stl_load_errors

 * postgresql://jieunshop200:***@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]