#1: name, gender 읽어오기  ETL 버전 완성

*   FULL REFRESH하는 형태로 실제로 Redshift 테이블에 쓰게 만들기
*   각자 스키마 밑에 테이블 생성
*   트랜잭션 형태로 업데이트 구성
*   멱등성이 보장되는지 확인?

In [ ]:
import requests
def extract(url):
  f = requests.get(url)
  return (f.text)

In [ ]:
import csv
def transform(data):
  reader = csv.reader(data.strip().split("\n"))
  return reader

In [ ]:
import psycopg2

# Redshift connection 함수
def get_Redshift_connection():
    host = "ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com"
    redshift_user = "jieunshop200"
    redshift_pass = "Jieunshop200!1"
    port = 5439
    dbname = "dev"
    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
        dbname=dbname,
        user=redshift_user,
        password=redshift_pass,
        host=host,
        port=port
    ))
    conn.set_session(autocommit=True)
    return conn.cursor()

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
# try/catch. autocommit = TRUE
def load(csv_reader):
    cur = get_Redshift_connection() 
    try:
      sql = """BEGIN;CREATE TABLE IF NOT EXISTS jieunshop200.name_gender (
              name varchar(64),
              gender varchar(16)
              );
              DELETE FROM jieunshop200.name_gender;"""
      cur.execute(sql)   
      for name, gender in csv_reader:
          sql = """
              INSERT INTO jieunshop200.name_gender
              VALUES ('{name}', '{gender}');
              """.format(name=name, gender=gender)
          cur.execute(sql)
      cur.execute("END") # cur.execute("COMMIT")
    except Exception as e:
      cur.execute("ROLLBACK")

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
!pip install sqlalchemy==1.3.2

Requirement already satisfied: sqlalchemy==1.3.2 in /usr/local/lib/python3.7/dist-packages (1.3.2)

In [ ]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://jieunshop200:Jieunshop200!1@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev

'Connected: jieunshop200@dev'

In [ ]:
url = "https://s3-geospatial.s3-us-west-2.amazonaws.com/name_gender.csv"
response = extract(url)
csv_reader = transform(response)
load(csv_reader)

In [ ]:
%%sql
SELECT * FROM jieunshop200.name_gender LIMIT 10

 * postgresql://jieunshop200:***@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('name', 'gender'),
 ('Adaleigh', 'F'),
 ('Amryn', 'Unisex'),
 ('Apurva', 'Unisex'),
 ('Aryion', 'M'),
 ('Alixia', 'F'),
 ('Alyssarose', 'F'),
 ('Arvell', 'M'),
 ('Aibel', 'M'),
 ('Atiyyah', 'F')]

# 2: 서울 7일 평균/최소/최대 온도 읽어오기 (Full Fresh 버전) 
*    먼저 이를 full fresh 형태로 완성하여 Redshift에 테이블로 만들 것
*    API Key를 감출 방법을 찾아볼 것. 그런데 구글 Colab을 사용한다면 방법이 좀 번거롭게 됨

---
보통은 환경변수에 저장하고 거기서 읽는 형태를 가짐.
Airflow에서는 Airflow Variable라는 곳에 저장하게 됨

1) 서울의 위도, 경도 찾기

In [ ]:
import requests, json
api_key = "00a33e28fdb3098bec6c02b7c229ffe8"
city_name = "Seoul"
lon = 0
lat = 0
base_url = "http://api.openweathermap.org/data/2.5/weather?"
complete_url = base_url + "appid=" + api_key + "&q=" + city_name
response = requests.get(complete_url)
data = response.json()

if data['cod'] != '404':
  y = data['main']
  lon = data['coord']['lon']
  lat = data['coord']['lat']
  print(f"longtitude: {lon} \n latitude: {lat}")
else: ("Seoul Not Found")

longtitude: 126.9778
 latitude: 37.5683

2) 위도 경도 정보로 서울의 향후 7일 데이타 찾기

In [ ]:
api_key = "00a33e28fdb3098bec6c02b7c229ffe8"
#not work !! url = "https://api.openweathermap.org/data/2.5/onecall?lat={lat}&lon={lon}&appid={'00a33e28fdb3098bec6c02b7c229ffe8'}"
url ='https://api.openweathermap.org/data/2.5/onecall?lat={}&lon={}&exclude={}&units={}&appid={}'.format(37.57,126.98,'current,minutely,hourly','metric',"00a33e28fdb3098bec6c02b7c229ffe8")

response = requests.get(url)
data = response.json()
print(data)
print(data['daily'])

{'lat': 37.57, 'lon': 126.98, 'timezone': 'Asia/Seoul', 'timezone_offset': 32400, 'daily': [{'dt': 1636858800, 'sunrise': 1636841434, 'sunset': 1636878154, 'moonrise': 1636870080, 'moonset': 1636822440, 'moon_phase': 0.34, 'temp': {'day': 15.77, 'min': 9.8, 'max': 15.77, 'night': 11.07, 'eve': 13.33, 'morn': 9.87}, 'feels_like': {'day': 14.47, 'night': 9.98, 'eve': 11.97, 'morn': 9.87}, 'pressure': 1017, 'humidity': 41, 'dew_point': 2.56, 'wind_speed': 5.01, 'wind_deg': 261, 'wind_gust': 7.35, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': 0, 'pop': 0.24, 'rain': 0.25, 'uvi': 2.17}, {'dt': 1636945200, 'sunrise': 1636927899, 'sunset': 1636964511, 'moonrise': 1636957920, 'moonset': 1636912500, 'moon_phase': 0.37, 'temp': {'day': 12.87, 'min': 8.42, 'max': 13.75, 'night': 10.44, 'eve': 12.36, 'morn': 8.63}, 'feels_like': {'day': 11.34, 'night': 9.05, 'eve': 10.98, 'morn': 8.63}, 'pressure': 1022, 'humidity': 43, 'dew_point': 0.56, 'wind_speed': 3.23, 'wind_deg': 272, 'wind_gust': 3.65, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 2, 'pop': 0, 'uvi': 2.11}, {'dt': 1637031600, 'sunrise': 1637014363, 'sunset': 1637050869, 'moonrise': 1637045760, 'moonset': 1637002500, 'moon_phase': 0.4, 'temp': {'day': 11.65, 'min': 7.8, 'max': 12.74, 'night': 9.21, 'eve': 11.37, 'morn': 8.09}, 'feels_like': {'day': 9.58, 'night': 9.21, 'eve': 9.32, 'morn': 8.09}, 'pressure': 1025, 'humidity': 27, 'dew_point': -6.88, 'wind_speed': 2.88, 'wind_deg': 302, 'wind_gust': 3.67, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 0, 'pop': 0, 'uvi': 2.08}, {'dt': 1637118000, 'sunrise': 1637100827, 'sunset': 1637137228, 'moonrise': 1637133600, 'moonset': 1637092440, 'moon_phase': 0.43, 'temp': {'day': 11.07, 'min': 6.91, 'max': 12, 'night': 9.78, 'eve': 10.61, 'morn': 6.91}, 'feels_like': {'day': 8.91, 'night': 9.78, 'eve': 8.54, 'morn': 6.91}, 'pressure': 1024, 'humidity': 26, 'dew_point': -8.01, 'wind_speed': 2.29, 'wind_deg': 286, 'wind_gust': 2.57, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 0, 'pop': 0, 'uvi': 2.24}, {'dt': 1637204400, 'sunrise': 1637187291, 'sunset': 1637223590, 'moonrise': 1637221620, 'moonset': 1637182380, 'moon_phase': 0.46, 'temp': {'day': 11.27, 'min': 8.36, 'max': 13.19, 'night': 11.53, 'eve': 12.63, 'morn': 8.36}, 'feels_like': {'day': 9.81, 'night': 10.96, 'eve': 11.88, 'morn': 7.86}, 'pressure': 1018, 'humidity': 52, 'dew_point': 1.59, 'wind_speed': 3.81, 'wind_deg': 203, 'wind_gust': 6.52, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': 88, 'pop': 0.31, 'rain': 0.71, 'uvi': 1.78}, {'dt': 1637290800, 'sunrise': 1637273755, 'sunset': 1637309953, 'moonrise': 1637309760, 'moonset': 1637272320, 'moon_phase': 0.5, 'temp': {'day': 13.62, 'min': 8.7, 'max': 13.62, 'night': 8.7, 'eve': 10.13, 'morn': 11.99}, 'feels_like': {'day': 12.26, 'night': 7.64, 'eve': 7.77, 'morn': 11.41}, 'pressure': 1017, 'humidity': 47, 'dew_point': 2.14, 'wind_speed': 5.94, 'wind_deg': 303, 'wind_gust': 10.84, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': 5, 'pop': 0.4, 'rain': 1.39, 'uvi': 2}, {'dt': 1637377200, 'sunrise': 1637360218, 'sunset': 1637396318, 'moonrise': 1637398140, 'moonset': 1637362320, 'moon_phase': 0.52, 'temp': {'day': 10.08, 'min': 5.81, 'max': 12.06, 'night': 10.55, 'eve': 11.25, 'morn': 5.81}, 'feels_like': {'day': 7.64, 'night': 8.16, 'eve': 8.85, 'morn': 5.81}, 'pressure': 1020, 'humidity': 19, 'dew_point': -12.43, 'wind_speed': 1.34, 'wind_deg': 293, 'wind_gust': 1.81, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02d'}], 'clouds': 15, 'pop': 0, 'uvi': 2}, {'dt': 1637463600, 'sunrise': 1637446681, 'sunset': 1637482685, 'moonrise': 1637486820, 'moonset': 1637452260, 'moon_phase': 0.55, 'temp': {'day': 11.85, 'min': 8.25, 'max': 12.32, 'night': 10.89, 'eve': 10.97, 'morn': 8.25}, 'feels_like': {'day': 9.61, 'night': 9.55, 'eve': 9.25, 'morn': 8.25}, 'pressure': 1017, 'humidity': 20, 'dew_point': -10.37, 'wind_speed': 2.79, 'wind_deg': 272, 'wind_gust': 4.34, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03d'}], 'clouds': 47, 'pop': 0, 'uvi': 2}]}
[{'dt': 1636858800, 'sunrise': 1636841434, 'sunset': 1636878154, 'moonrise': 1636870080, 'moonset': 1636822440, 'moon_phase': 0.34, 'temp': {'day': 15.77, 'min': 9.8, 'max': 15.77, 'night': 11.07, 'eve': 13.33, 'morn': 9.87}, 'feels_like': {'day': 14.47, 'night': 9.98, 'eve': 11.97, 'morn': 9.87}, 'pressure': 1017, 'humidity': 41, 'dew_point': 2.56, 'wind_speed': 5.01, 'wind_deg': 261, 'wind_gust': 7.35, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': 0, 'pop': 0.24, 'rain': 0.25, 'uvi': 2.17}, {'dt': 1636945200, 'sunrise': 1636927899, 'sunset': 1636964511, 'moonrise': 1636957920, 'moonset': 1636912500, 'moon_phase': 0.37, 'temp': {'day': 12.87, 'min': 8.42, 'max': 13.75, 'night': 10.44, 'eve': 12.36, 'morn': 8.63}, 'feels_like': {'day': 11.34, 'night': 9.05, 'eve': 10.98, 'morn': 8.63}, 'pressure': 1022, 'humidity': 43, 'dew_point': 0.56, 'wind_speed': 3.23, 'wind_deg': 272, 'wind_gust': 3.65, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 2, 'pop': 0, 'uvi': 2.11}, {'dt': 1637031600, 'sunrise': 1637014363, 'sunset': 1637050869, 'moonrise': 1637045760, 'moonset': 1637002500, 'moon_phase': 0.4, 'temp': {'day': 11.65, 'min': 7.8, 'max': 12.74, 'night': 9.21, 'eve': 11.37, 'morn': 8.09}, 'feels_like': {'day': 9.58, 'night': 9.21, 'eve': 9.32, 'morn': 8.09}, 'pressure': 1025, 'humidity': 27, 'dew_point': -6.88, 'wind_speed': 2.88, 'wind_deg': 302, 'wind_gust': 3.67, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 0, 'pop': 0, 'uvi': 2.08}, {'dt': 1637118000, 'sunrise': 1637100827, 'sunset': 1637137228, 'moonrise': 1637133600, 'moonset': 1637092440, 'moon_phase': 0.43, 'temp': {'day': 11.07, 'min': 6.91, 'max': 12, 'night': 9.78, 'eve': 10.61, 'morn': 6.91}, 'feels_like': {'day': 8.91, 'night': 9.78, 'eve': 8.54, 'morn': 6.91}, 'pressure': 1024, 'humidity': 26, 'dew_point': -8.01, 'wind_speed': 2.29, 'wind_deg': 286, 'wind_gust': 2.57, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': 0, 'pop': 0, 'uvi': 2.24}, {'dt': 1637204400, 'sunrise': 1637187291, 'sunset': 1637223590, 'moonrise': 1637221620, 'moonset': 1637182380, 'moon_phase': 0.46, 'temp': {'day': 11.27, 'min': 8.36, 'max': 13.19, 'night': 11.53, 'eve': 12.63, 'morn': 8.36}, 'feels_like': {'day': 9.81, 'night': 10.96, 'eve': 11.88, 'morn': 7.86}, 'pressure': 1018, 'humidity': 52, 'dew_point': 1.59, 'wind_speed': 3.81, 'wind_deg': 203, 'wind_gust': 6.52, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': 88, 'pop': 0.31, 'rain': 0.71, 'uvi': 1.78}, {'dt': 1637290800, 'sunrise': 1637273755, 'sunset': 1637309953, 'moonrise': 1637309760, 'moonset': 1637272320, 'moon_phase': 0.5, 'temp': {'day': 13.62, 'min': 8.7, 'max': 13.62, 'night': 8.7, 'eve': 10.13, 'morn': 11.99}, 'feels_like': {'day': 12.26, 'night': 7.64, 'eve': 7.77, 'morn': 11.41}, 'pressure': 1017, 'humidity': 47, 'dew_point': 2.14, 'wind_speed': 5.94, 'wind_deg': 303, 'wind_gust': 10.84, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': 5, 'pop': 0.4, 'rain': 1.39, 'uvi': 2}, {'dt': 1637377200, 'sunrise': 1637360218, 'sunset': 1637396318, 'moonrise': 1637398140, 'moonset': 1637362320, 'moon_phase': 0.52, 'temp': {'day': 10.08, 'min': 5.81, 'max': 12.06, 'night': 10.55, 'eve': 11.25, 'morn': 5.81}, 'feels_like': {'day': 7.64, 'night': 8.16, 'eve': 8.85, 'morn': 5.81}, 'pressure': 1020, 'humidity': 19, 'dew_point': -12.43, 'wind_speed': 1.34, 'wind_deg': 293, 'wind_gust': 1.81, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02d'}], 'clouds': 15, 'pop': 0, 'uvi': 2}, {'dt': 1637463600, 'sunrise': 1637446681, 'sunset': 1637482685, 'moonrise': 1637486820, 'moonset': 1637452260, 'moon_phase': 0.55, 'temp': {'day': 11.85, 'min': 8.25, 'max': 12.32, 'night': 10.89, 'eve': 10.97, 'morn': 8.25}, 'feels_like': {'day': 9.61, 'night': 9.55, 'eve': 9.25, 'morn': 8.25}, 'pressure': 1017, 'humidity': 20, 'dew_point': -10.37, 'wind_speed': 2.79, 'wind_deg': 272, 'wind_gust': 4.34, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03d'}], 'clouds': 47, 'pop': 0, 'uvi': 2}]

In [ ]:
# try/catch. autocommit = TRUE

from datetime import *

daily = data["daily"]

def load2(daily):
    cur = get_Redshift_connection() 
    try:
      sql = """BEGIN;CREATE TABLE IF NOT EXISTS jieunshop200.weather_forecast_inc (
              date date primary key,
              day float,
              min float,
              max float,
              updated_date timestamp default GETDATE()
              );
              
              DELETE FROM jieunshop200.weather_forecast_inc;"""

      cur.execute(sql)  
      print("load2 -- create tabel & delete data -- Completed") 
      for entry in daily:
        
          dt = datetime.fromtimestamp(entry["dt"]).strftime('%Y-%m-%d') #날짜
          day = entry["temp"]["day"] #평균온도
          min = entry["temp"]["min"] #최소온도 
          max = entry["temp"]["max"] #최대온도
          print(f"{dt:11}{day:7}{min:7}{max:7}")

          sql = """
              INSERT INTO jieunshop200.weather_forecast_inc
              VALUES ('{date}', '{day}','{min}', '{max}');
              """.format(date=dt, day=day, min=min, max=max)
          cur.execute(sql)

      print("load2 -- insert data -- Completed")
      cur.execute("END") # cur.execute("COMMIT")
    except Exception as e:
      print("Error!")
      cur.execute("ROLLBACK")

In [ ]:
load2(daily)

load2 -- create tabel & delete data -- Completed
2021-10-23   16.35   9.68  17.32
2021-10-24   16.03  10.08  17.13
2021-10-25   15.95  10.22  17.41
2021-10-26   16.76  11.29     18
2021-10-27   18.61  13.74  19.28
2021-10-28   16.66  11.25  18.63
2021-10-29   16.97  11.44  18.53
2021-10-30   17.28  12.27  18.22
load2 -- insert data -- Completed

In [ ]:
%%sql
SELECT * FROM jieunshop200.weather_forecast_inc

 * postgresql://jieunshop200:***@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev
8 rows affected.

[(datetime.date(2021, 10, 23), 16.35, 9.68, 17.32, datetime.datetime(2021, 10, 23, 7, 24, 34)),
 (datetime.date(2021, 10, 24), 16.03, 10.08, 17.13, datetime.datetime(2021, 10, 23, 7, 24, 34)),
 (datetime.date(2021, 10, 25), 15.95, 10.22, 17.41, datetime.datetime(2021, 10, 23, 7, 24, 34)),
 (datetime.date(2021, 10, 26), 16.76, 11.29, 18.0, datetime.datetime(2021, 10, 23, 7, 24, 34)),
 (datetime.date(2021, 10, 27), 18.61, 13.74, 19.28, datetime.datetime(2021, 10, 23, 7, 24, 34)),
 (datetime.date(2021, 10, 28), 16.66, 11.25, 18.63, datetime.datetime(2021, 10, 23, 7, 24, 35)),
 (datetime.date(2021, 10, 29), 16.97, 11.44, 18.53, datetime.datetime(2021, 10, 23, 7, 24, 35)),
 (datetime.date(2021, 10, 30), 17.28, 12.27, 18.22, datetime.datetime(2021, 10, 23, 7, 24, 35))]